:root {
    --border-color: #d8d8d8;
    --background: #efefef;
    --foreground: #000;
}

@media (prefers-color-scheme: dark)
{
    :root {
        --background: #121212;
        --foreground: #eee;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    box-sizing: border-box;
}

html {
      height: 100%;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    min-height: 100vh;
    padding: 0 10px;
    display: flex;
    background: var(--background);
    color: var(--foreground);
    flex-direction: column;
    font: 18px/1.6 "Open Sans",Ubuntu,"Nimbus Sans L",Avenir,AvenirNext,"Segoe UI",Helvetica,Arial,sans-serif;
}

a {
    color: dodgerblue;
}

h2, h3, h4 {
    margin: 1em 0 0 0;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.12em;
}

img {
    max-width: 100%;
    height: auto;
    margin: 1em 0
}

header h1 {
    padding: .2em 0 0 0;
}

header p {
    font-variant: small-caps;
    color: slategray;
    letter-spacing: 1px;
    font-size: 1.2em;
}

main {
    margin: 1em 0 0 0;
    display: flex;;
    flex: 1;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

#menu {
    flex: 1;
    min-width: fit-content;
    border-right: 1px solid var(--border-color);
    padding: 1em 2em 1em 0;
}

#menu a {
    color: var(--foreground);
    text-decoration: none;
}

#menu a:hover {
    text-decoration: underline;
}

#menu a.current {
    font-weight: bold;
}

#menu ul {
    list-style: none;
}

#menu > ul > li {
    margin-bottom: .6em;
}

#menu ul ul {
    display: none;
}

#menu ul .current,
#menu ul :active *,
#menu ul :focus-within *,
#menu ul :hover * {
    display: block;
}

#menu ul ul li {
    padding: .3em 0 .3em 1em;
}

main > section {
    flex: 5;
    margin-left: 2em;
    padding: 1em 0;
}

footer {
    padding: 2em 0;
}