---
---

:root {
    --border-color: #d8d8d8;
    --background: #efefef;
    --foreground: #000;
}

@media (prefers-color-scheme: dark)
{
    :root {
        --background: #121212;
        --foreground: #eee;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
      height: 100%;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 0 10px;
    display: flex;
    background: var(--background);
    color: var(--foreground);
    flex-direction: column;
    font: 18px/1.6 "Open Sans",Ubuntu,"Nimbus Sans L",Avenir,AvenirNext,"Segoe UI",Helvetica,Arial,sans-serif;
}

a {
    color: dodgerblue;
}

section > p {
    padding-bottom: 1em;
}

img {
    max-width: 100%;
    height: auto;
}

header h1 {
    padding: .2em 0 0 0;
}

header p {
    font-variant: small-caps;
    color: slategray;
    letter-spacing: 1px;
    font-size: 1.2em;
}

main {
    margin: 1em 0 0 0;
    display: flex;;
    flex: 1;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

#menu {
    min-width: fit-content;
    border-right: 1px solid var(--border-color);
    padding: 1em 1.5em 1em .7em;
}

#menu a {
    color: var(--foreground);
    text-decoration: none;
}

#menu a:hover,
#menu a:focus,
#menu a:active {
    text-decoration: underline;
}

#menu a[aria-current] {
    font-weight: 500;
}

#menu ul {
    list-style: none;
    position: relative;
}

#menu a[aria-haspopup]::before {
    content: "›";
    position:absolute;
    left: -10px;
}

#menu .open a[aria-haspopup]::before {   
    transform: rotate(90deg);
}

#menu li:not(.open) ul {
    display: none;
}

#menu > ul > li {
    margin-bottom: .6em;
}

#menu ul ul li {
    padding: .3em 0 .3em 1em;
}

main > section {
    margin: 0 1em 0 1.5em;
    padding: 1em 0;
}

footer {
    padding: 2em 0;
}

@media only screen and (max-width: 900px) {
    #menu > a {
        display: inline-block;
        cursor: pointer;
    }
    #menu > ul {
        display: none;
    }
    #menu:focus-within > ul,
    #menu:hover > ul {
        display: block;
    }    
}