---
---

:root {
    --border-color: #d8d8d8;
    --background: #efefef;
    --foreground: #000;
    --link-color: #0A4F94;
}

@media (prefers-color-scheme: dark)
{
    :root {
        --background: #121212;
        --foreground: #eee;
        --link-color: #5AADFF;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
      height: 100%;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 0 10px;
    display: flex;
    background: var(--background);
    color: var(--foreground);
    flex-direction: column;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    font: 18px/1.6 "Open Sans",Ubuntu,"Nimbus Sans L",Avenir,AvenirNext,"Segoe UI",Helvetica,Arial,sans-serif;
}

a {
    color: var(--link-color);
}

section > p {
    padding-bottom: 1em;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    padding-top: .2em;
    white-space: nowrap;
    word-break: keep-all;
}

header p {
    font-variant: small-caps;
    letter-spacing: 1px;
    font-size: 1.2em;
}

main {
    margin: 1em 0 0 0;
    display: flex;;
    flex: 1;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

#menu {
    min-width: fit-content;
    border-right: 1px solid var(--border-color);
    padding: 1em 1.5em 1em .7em;
}

#menu label,
#menu input {
    display: none;
}

#menu a {
    color: var(--foreground);
    text-decoration: none;
}

#menu a:hover,
#menu a:focus,
#menu a:active {
    text-decoration: underline;
}

#menu > a {
    display: none;
}

#menu a[aria-current] {
    font-weight: 500;
}

#menu ul {
    list-style: none;
    position: relative;
}

#menu a[aria-haspopup]::before {
    content: "›";
    position:absolute;
    left: -10px;
}

#menu .open a[aria-haspopup]::before {   
    transform: rotate(90deg);
}

#menu li:not(.open) ul {
    display: none;
}

#menu > ul > li {
    margin-bottom: .6em;
}

#menu ul ul li {
    padding: .3em 0 .3em 1em;
}

main > section {
    margin: 0 1em 0 1.5em;
    padding: 1em 0;
}

footer {
    padding: 2em 0;
}

@media only screen and (max-width: 1023px) {
    body {
        margin-left: unquote("max(env(safe-area-inset-left), 10px)");
    }
    #menu {
        padding: 1em 0 0 0;
        border: none;
    }
    #menu label {
        display: block;
        cursor: pointer;
        color: darkgray;
        position: absolute;
        top: .5em;
        right: .8em;
        font-size: 1.5em;
        background-color: var(--background);
    }
    #hamburger { 
        display: none;
    }
    #menu > ul {
        display: none;
        background: var(--background);
        position: absolute;
        right: 0;
        left: 10px;
        margin-left: unquote("max(env(safe-area-inset-left), 10px)");
    }
    #menu input:checked + ul {
        display: block;
    }   
    
    main > section {
        margin: 0
    }
}