<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}" />
    <base href="/docs/" />
    <link rel="stylesheet" href="assets/css/style.css" />
</head>

<body>
    <header>
        <h1>{{ page.title }}</h1>
        <p>{{ site.description }}</p>
    </header>
    <main>
        <nav id="menu">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="getting-started/">Getting started</a>
                    <ul>
                        <li><a href="getting-started/get-the-tools.html">Get the tools</a></li>
                        <li><a href="getting-started/your-first-extension.html">Your first extension</a></li>
                        <li><a href="getting-started/extension-anatomy.html">Extension anatomy</a></li>
                        <li><a href="getting-started/vocabulary.html">Vocabulary</a></li>
                    </ul>
                </li>
                <li><a href="walkthroughs/">Walkthroughs</a></li>
                <li><a href="common-scenarios/">Common scenarios</a></li>
                <li><a href="api/">API</a></li>
            </ul>
        </nav>
        <section>
            {{ content }}<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </section>
    </main>
    <footer>
        &copy; VSIX Community
    </footer>
</body>

</html>